div {
  
  margin: -8px;
}

.header h2{
    color: #f9faf8;
}

.left-main-content h1{
    color: #f9faf8;
}

.left-main-content p{
    color: #e5e7eb;
    
}
.right-content li{
    color: #e5e7eb;
}

.image-placeholder-main p{
    color: #e5e7eb;

}

.main{
    padding: 0 15%;
    background-color: #1f2937; 
    padding-bottom: 9%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-content{
    display: flex;
    gap : 20px;

}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-content{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.left-main-content {
    padding-right: 40px;
}

.image-placeholder-main {
    width: 700px;
    height: 230px;
    background-color: gray;
    text-align: center;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* style for content 2 */

.content-2{
    padding-top: 3%;
    padding-bottom: 0%;
}

.text-align-center {
    text-align: center;
}

.card-row{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 3%;
}

.card{
    width:175px;
    height: 350px;
}

.box-or-image {
    min-width: 175px;
    min-height: 175px;
    border-radius: 20px;
    background-color: gray;
    border: 1px solid red;
}

.box-or-image-illustration{
    text-align: center;
    padding: 0 20px;
}

/* content-3 styling starts here  */

.content-3 {
    padding: 5% 25%;
    background-color: blanchedalmond;
}

.content-3-right{
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

/* content-4 styling starts here  */

.content-4-outer{
    padding: 7% 15%;

}

.content-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 30px 65px;
    border-radius: 10px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    padding: 27px 0;
    margin: 0;
}
